* {
    padding: 0;
    margin: 0;
}

/*****     header 样式     *****/
.header {
    height: 56px;
    width: 100%;
    background-color: rgb(33,137,191);
}
.logo {
    float: left;
    width: 36px;
    height: 36px;
    padding: 10px 0;
    margin-left: 50px;
    z-index: 10;
}
.sign_in {
    float: right;
    height: 56px;
    margin-right: 90px;
    line-height: 56px;
}
.img_sign_in {
    display: block;
    float: left;
    padding: 20px 4px;
}
.text_sign_in {
    display: block;
    float: left;
    color: #fff;
}
.search_wrap {
    display: block;
    height: 34px;
    margin: 11px 20px;
    border-radius: 18px;
    float: right;
    background-color: #fff;
}
.search_img {
    display: block;
    float: left;
    padding: 8px 0 8px 20px;
}
.search_ipt {
    transition: width 1s;
    height: 28px;
    width: 100px;
    border: none;
    margin: 3px 20px 3px 8px;
}
.search_ipt:focus {
    outline: none;
    transition: width 1s;
    width: 210px;
}

/*****     header 样式 over     *****/

.aside {
    width: 260px;
    padding-top: 29px;
    background-color: rgb(42,46,61);
    overflow: hidden;
}
.user {
    overflow: hidden;
}
.user_img {
    display: block;
    float: left;
    width: 48px;
    border-radius: 100%;
    margin: 8px 18px 8px 46px;
    box-shadow: 0 0 0 4px rgb(42,26,61),
                0 0 0 6px rgb(186,186,190);
}
.user_name {
    display: block;
    height: 64px;
    line-height: 64px;
    float: left;
    color: #fff;
}
.hot_num {
    margin: 30px 30px;
}
.hot_num_item {
    display: inline-block;
    color: rgb(103,119,139);
    width: 97px;
    text-align: center;
}
.hot_num_item>span {
    display: block;
}
.hot_num_item:first-of-type {
    border-right: 2px solid rgb(50,53,69);
}