* {
    padding: 0;
    margin: 0;
}
.click {
    font-size: 20px;
    padding: 4px 10px;
    cursor: pointer;
    color: #fff;
    background-color: red;
    border: none;
    margin: 30px;
    outline: none;
}
.content {
    padding: 20px;
    line-height: 150%;
    text-indent: 2em;
}
.clickOpen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
}
.OpenMain {
    position: absolute;
    background-color: #fff;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.OpenMain-header {
    height: 30px;
    width: 300px;
    line-height: 30px;
    color: #fff;
    background-color: red;
    padding: 6px 20px;
}
.OpenMain-content {
    height: 100px;
    padding: 20px;
}
.OpenMain-footer {
    height: 30px;
    padding: 6px 20px;
}
.OpenMain-footer button {
    background-color: red;
    cursor: pointer;
    float: right;
    width: 50px;
    height: 30px;
    border: none;
    color: #fff;
}
.OpenMain-footer button:first-child {
    margin-left: 10px;
}
[draggable="true"] {
    cursor: move;
}
[draggable="true"]:active {
    opacity: 0.8;
}